.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.ModalItemSizeCrust select {
  margin-bottom: 5px;
}
.ModalItemToppings {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.VegToppings,
.NonVegToppings {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
}
.HeadingTopping {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.Topping {
  display: flex;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 5px;
}
.ToppingSelected {
  background-color: lightgreen;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
